<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRuTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a68bd9">  <td>17/08/05 23:10:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendAndDeleteMailTest.deleteMailTest()[pri:0, instance:tests.mailTests.SendAndDeleteMailTest@5fe5c6f]">deleteMailTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:09:03</td>   <td>-86801</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.mailTests.NegativeLoginTest@67117f44]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:09:20</td>   <td>-70206</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.mailTests.PositiveLoginTest@5d3411d]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:09:36</td>   <td>-53942</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.mailTests.SendMailTest@2471cca7]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:10:03</td>   <td>-26533</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.mailTests.SendAndDeleteMailTest@5fe5c6f]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:11:32</td>   <td>61565</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.mailTests.SendMailWithoutAddressTest@6979e8cb]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:11:51</td>   <td>80674</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.mailTests.SendMailWithoutSubjectAndBodyTest@763d9750]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>17/08/05 23:09:40</td>   <td>-49637</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.mailTests.SendMailTest@2471cca7]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>17/08/05 23:10:07</td>   <td>-22637</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.mailTests.SendAndDeleteMailTest@5fe5c6f]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>17/08/05 23:11:35</td>   <td>65038</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.mailTests.SendMailWithoutAddressTest@6979e8cb]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="ddd392">  <td>17/08/05 23:11:55</td>   <td>85328</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.mailTests.SendMailWithoutSubjectAndBodyTest@763d9750]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="b88869">  <td>17/08/05 23:09:13</td>   <td>-77289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTest.negativeLoginTest()[pri:0, instance:tests.mailTests.NegativeLoginTest@67117f44]">negativeLoginTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="ae9190">  <td>17/08/05 23:09:24</td>   <td>-66241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTest.positiveLoginTest()[pri:0, instance:tests.mailTests.PositiveLoginTest@5d3411d]">positiveLoginTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:09:17</td>   <td>-72636</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:tests.mailTests.NegativeLoginTest@67117f44]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:09:35</td>   <td>-55009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:tests.mailTests.PositiveLoginTest@5d3411d]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:10:02</td>   <td>-27996</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:tests.mailTests.SendMailTest@2471cca7]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:11:30</td>   <td>60240</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:tests.mailTests.SendAndDeleteMailTest@5fe5c6f]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:11:49</td>   <td>79500</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:tests.mailTests.SendMailWithoutAddressTest@6979e8cb]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:12:15</td>   <td>104913</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:tests.mailTests.SendMailWithoutSubjectAndBodyTest@763d9750]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="939799">  <td>17/08/05 23:09:43</td>   <td>-46883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailTest.sendMailTest()[pri:0, instance:tests.mailTests.SendMailTest@2471cca7]">sendMailTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="a68bd9">  <td>17/08/05 23:10:10</td>   <td>-19788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendAndDeleteMailTest.sendMailTest()[pri:0, instance:tests.mailTests.SendAndDeleteMailTest@5fe5c6f]">sendMailTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="bbadf8">  <td>17/08/05 23:11:39</td>   <td>68750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailWithoutAddressTest.sendMailWithoutAddressTest()[pri:0, instance:tests.mailTests.SendMailWithoutAddressTest@6979e8cb]">sendMailWithoutAddressTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="c77c8e">  <td>17/08/05 23:11:58</td>   <td>88261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailWithoutSubjectAndBodyTest.sendMailWithoutSubjectAndBodyTest()[pri:0, instance:tests.mailTests.SendMailWithoutSubjectAndBodyTest@763d9750]">sendMailWithoutSubjectAndBodyTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
</table>
