<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRuTest (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:12:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.cloudTests.CloudTest@2fc14f68]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>17/08/05 23:12:21</td>   <td>3641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudTest.positiveLoginTest()[pri:0, instance:tests.cloudTests.CloudTest@2fc14f68]">positiveLoginTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>17/08/05 23:12:31</td>   <td>14488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudTest.createNewFolderTest()[pri:0, instance:tests.cloudTests.CloudTest@2fc14f68]">createNewFolderTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>17/08/05 23:12:34</td>   <td>16820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudTest.uploadFileTest()[pri:0, instance:tests.cloudTests.CloudTest@2fc14f68]">uploadFileTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>17/08/05 23:12:36</td>   <td>18587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudTest.checkThatNewFolderIsDeletedTest()[pri:0, instance:tests.cloudTests.CloudTest@2fc14f68]">checkThatNewFolderIsDeletedTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="fbaa64">  <td>17/08/05 23:12:37</td>   <td>20101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudTest.dragAndDropFileTest()[pri:0, instance:tests.cloudTests.CloudTest@2fc14f68]">dragAndDropFileTest</td> 
  <td>main@411631404</td>   <td></td> </tr>
<tr bgcolor="6b6478">  <td>17/08/05 23:14:38</td>   <td>141059</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:tests.cloudTests.CloudTest@2fc14f68]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@411631404</td>   <td></td> </tr>
</table>
