<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRuTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c6dc">  <td>18/05/24 17:29:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.NegativeLoginTest@1c2c22f3]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="60847b">  <td>18/05/24 17:29:26</td>   <td>3670</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTest.negativeLoginTest()[pri:0, instance:tests.NegativeLoginTest@1c2c22f3]">negativeLoginTest</td> 
  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="97c6dc">  <td>18/05/24 17:29:28</td>   <td>6144</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.PositiveLoginTest@18e8568]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="6884be">  <td>18/05/24 17:29:31</td>   <td>9230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTest.positiveLoginTest()[pri:0, instance:tests.PositiveLoginTest@18e8568]">positiveLoginTest</td> 
  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="97c6dc">  <td>18/05/24 17:29:37</td>   <td>14953</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.SendMailTest@33e5ccce]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="a6a697">  <td>18/05/24 17:29:40</td>   <td>18004</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.SendMailTest@33e5ccce]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="8da962">  <td>18/05/24 17:29:42</td>   <td>19785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailTest.sendMailTest()[pri:0, instance:tests.SendMailTest@33e5ccce]">sendMailTest</td> 
  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="97c6dc">  <td>18/05/24 17:29:48</td>   <td>25447</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.SendAndDeleteMailTest@5a42bbf4]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="a6a697">  <td>18/05/24 17:29:51</td>   <td>28520</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.SendAndDeleteMailTest@5a42bbf4]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="8ddf77">  <td>18/05/24 17:29:52</td>   <td>30331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendAndDeleteMailTest.sendMailTest()[pri:0, instance:tests.SendAndDeleteMailTest@5a42bbf4]">sendMailTest</td> 
  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="97c6dc">  <td>18/05/24 17:29:59</td>   <td>36733</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.SendMailWithoutAddressTest@270421f5]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="a6a697">  <td>18/05/24 17:30:02</td>   <td>39773</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.SendMailWithoutAddressTest@270421f5]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="73da75">  <td>18/05/24 17:30:04</td>   <td>41680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailWithoutAddressTest.sendMailWithoutAddressTest()[pri:0, instance:tests.SendMailWithoutAddressTest@270421f5]">sendMailWithoutAddressTest</td> 
  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="97c6dc">  <td>18/05/24 17:30:08</td>   <td>46126</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeAfterTest.getDriver()[pri:0, instance:tests.SendMailWithoutSubjectAndBodyTest@52d455b8]">&gt;&gt;getDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="a6a697">  <td>18/05/24 17:30:11</td>   <td>49197</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:tests.SendMailWithoutSubjectAndBodyTest@52d455b8]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1631862159</td>   <td></td> </tr>
<tr bgcolor="75b6fd">  <td>18/05/24 17:30:13</td>   <td>51061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailWithoutSubjectAndBodyTest.sendMailWithoutSubjectAndBodyTest()[pri:0, instance:tests.SendMailWithoutSubjectAndBodyTest@52d455b8]">sendMailWithoutSubjectAndBodyTest</td> 
  <td>main@1631862159</td>   <td></td> </tr>
</table>
