<h2>Reporter output</h2><table><tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
<tr><td><img src="/screenshots/log188324543493492.png"/></td></tr>
<tr><td><img src="C:\EPAM\HometasksTAT2017\L14\screenshots\log189596377922827.png"></td></tr>
</table>