<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRuTest (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c68985">  <td>17/09/02 21:01:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudTest.positiveLoginTest()[pri:0, instance:com.epam.tat.test.cloud.CloudTest@59a6e353]">positiveLoginTest</td> 
  <td>main@440434003</td>   <td></td> </tr>
<tr bgcolor="6369c4">  <td>17/09/02 21:03:11</td>   <td>95915</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.cloud.CloudTest@59a6e353]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@440434003</td>   <td></td> </tr>
</table>
