<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CloudMailRuTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>17/09/03 12:56:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CloudTest.positiveLoginTest()[pri:0, instance:com.epam.tat.test.cloud.CloudTest@3a03464]">positiveLoginTest</td> 
  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>17/09/03 12:57:49</td>   <td>71032</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.cloud.CloudTest@3a03464]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
</table>
