<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MailRuTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93ce8c">  <td>17/09/03 12:48:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTest.negativeLoginTest()[pri:0, instance:com.epam.tat.test.mail.NegativeLoginTest@2812cbfa]">negativeLoginTest</td> 
  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>17/09/03 12:48:27</td>   <td>11867</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.mail.NegativeLoginTest@2812cbfa]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>17/09/03 12:48:33</td>   <td>18603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTest.positiveLoginTest()[pri:0, instance:com.epam.tat.test.mail.PositiveLoginTest@7a5d012c]">positiveLoginTest</td> 
  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>17/09/03 12:51:44</td>   <td>208880</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.mail.PositiveLoginTest@7a5d012c]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>17/09/03 12:51:50</td>   <td>215324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:com.epam.tat.test.mail.SendMailTest@42d3bd8b]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="d9aa8b">  <td>17/09/03 12:51:58</td>   <td>223603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailTest.sendMailTest()[pri:0, instance:com.epam.tat.test.mail.SendMailTest@42d3bd8b]">sendMailTest</td> 
  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>17/09/03 12:52:21</td>   <td>245807</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.mail.SendMailTest@42d3bd8b]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>17/09/03 12:52:28</td>   <td>253165</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:com.epam.tat.test.mail.SendAndDeleteMailTest@5315b42e]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="64a765">  <td>17/09/03 12:52:38</td>   <td>263277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendAndDeleteMailTest.sendMailTest()[pri:0, instance:com.epam.tat.test.mail.SendAndDeleteMailTest@5315b42e]">sendMailTest</td> 
  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>17/09/03 12:53:03</td>   <td>287759</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.mail.SendAndDeleteMailTest@5315b42e]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>17/09/03 12:53:11</td>   <td>295974</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:com.epam.tat.test.mail.SendMailWithoutAddressTest@6fb554cc]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="b2c160">  <td>17/09/03 12:53:39</td>   <td>324117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailWithoutAddressTest.sendMailWithoutAddressTest()[pri:0, instance:com.epam.tat.test.mail.SendMailWithoutAddressTest@6fb554cc]">sendMailWithoutAddressTest</td> 
  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>17/09/03 12:55:36</td>   <td>441541</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.mail.SendMailWithoutAddressTest@6fb554cc]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="688d64">  <td>17/09/03 12:55:46</td>   <td>450883</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BeforeSendTest.logInMailRu()[pri:0, instance:com.epam.tat.test.mail.SendMailWithoutSubjectAndBodyTest@327471b5]">&gt;&gt;logInMailRu</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="6773bc">  <td>17/09/03 12:55:59</td>   <td>464009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SendMailWithoutSubjectAndBodyTest.sendMailWithoutSubjectAndBodyTest()[pri:0, instance:com.epam.tat.test.mail.SendMailWithoutSubjectAndBodyTest@327471b5]">sendMailWithoutSubjectAndBodyTest</td> 
  <td>main@1922154895</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>17/09/03 12:56:24</td>   <td>488851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BeforeAfterTest.quitBrowser()[pri:0, instance:com.epam.tat.test.mail.SendMailWithoutSubjectAndBodyTest@327471b5]">&lt;&lt;quitBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1922154895</td>   <td></td> </tr>
</table>
