<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LoveTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8decdb">  <td>17/07/18 23:32:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithThreeParametersTest.test()[pri:0, instance:CreateBoyWithThreeParametersTest@3c679bde]">test</td> 
  <td>pool-1-thread-2@1834023474</td>   <td>1112280004 1013423070 380936215 142638629 </td> </tr>
<tr bgcolor="8decdb">  <td>17/07/18 23:32:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithThreeParametersTest.test()[pri:0, instance:CreateBoyWithThreeParametersTest@16b4a017]">test</td> 
  <td>pool-1-thread-1@38472176</td>   <td>1112280004 1013423070 380936215 142638629 </td> </tr>
<tr bgcolor="8decdb">  <td>17/07/18 23:32:36</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithThreeParametersTest.test()[pri:0, instance:CreateBoyWithThreeParametersTest@424c0bc4]">test</td> 
  <td>pool-1-thread-1@38472176</td>   <td>1112280004 1013423070 380936215 142638629 </td> </tr>
<tr bgcolor="8decdb">  <td>17/07/18 23:32:36</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithThreeParametersTest.test()[pri:0, instance:CreateBoyWithThreeParametersTest@8807e25]">test</td> 
  <td>pool-1-thread-2@1834023474</td>   <td>1112280004 1013423070 380936215 142638629 </td> </tr>
<tr bgcolor="f0a69f">  <td>17/07/18 23:32:36</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithTwoParametersTest.test(com.epam.gomel.homework.Month, double)[pri:0, instance:CreateBoyWithTwoParametersTest@44e81672]">test</td> 
  <td>pool-1-thread-1@38472176</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>17/07/18 23:32:36</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithOneParameterTest.test(com.epam.gomel.homework.Month)[pri:0, instance:CreateBoyWithOneParameterTest@60215eee]">test</td> 
  <td>pool-1-thread-2@1834023474</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>17/07/18 23:32:36</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithTwoParametersTest.test(com.epam.gomel.homework.Month, double)[pri:0, instance:CreateBoyWithTwoParametersTest@44e81672]">test</td> 
  <td>pool-1-thread-1@38472176</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>17/07/18 23:32:36</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithOneParameterTest.test(com.epam.gomel.homework.Month)[pri:0, instance:CreateBoyWithOneParameterTest@60215eee]">test</td> 
  <td>pool-1-thread-2@1834023474</td>   <td></td> </tr>
<tr bgcolor="f0a69f">  <td>17/07/18 23:32:36</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithTwoParametersTest.test(com.epam.gomel.homework.Month, double)[pri:0, instance:CreateBoyWithTwoParametersTest@44e81672]">test</td> 
  <td>pool-1-thread-1@38472176</td>   <td></td> </tr>
<tr bgcolor="61bda8">  <td>17/07/18 23:32:36</td>   <td>45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateBoyWithOneParameterTest.test(com.epam.gomel.homework.Month)[pri:0, instance:CreateBoyWithOneParameterTest@60215eee]">test</td> 
  <td>pool-1-thread-2@1834023474</td>   <td></td> </tr>
<tr bgcolor="6d8795">  <td>17/07/18 23:32:36</td>   <td>135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BoyBeforeTest.setUp()[pri:0, instance:BoysBirthMonthisSummerMonthTest@5fe5c6f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-2@607593394</td>   <td></td> </tr>
<tr bgcolor="6d8795">  <td>17/07/18 23:32:36</td>   <td>135</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BoyBeforeTest.setUp()[pri:0, instance:BoyIsRichTest@2471cca7]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="956de9">  <td>17/07/18 23:32:36</td>   <td>137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoysBirthMonthisSummerMonthTest.isSummerMonthTest()[pri:0, instance:BoysBirthMonthisSummerMonthTest@5fe5c6f]">isSummerMonthTest</td> 
  <td>pool-2-thread-2@607593394</td>   <td></td> </tr>
<tr bgcolor="78ef96">  <td>17/07/18 23:32:36</td>   <td>137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyIsRichTest.boyIsRich(double, boolean)[pri:0, instance:BoyIsRichTest@2471cca7]">boyIsRich</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="78ef96">  <td>17/07/18 23:32:36</td>   <td>137</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyIsRichTest.boyIsRich(double, boolean)[pri:0, instance:BoyIsRichTest@2471cca7]">boyIsRich</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="6d8795">  <td>17/07/18 23:32:36</td>   <td>137</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BoyBeforeTest.setUp()[pri:0, instance:BoyHasPrettyGirlFriendTest@6979e8cb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-2@607593394</td>   <td></td> </tr>
<tr bgcolor="78ef96">  <td>17/07/18 23:32:36</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyIsRichTest.boyIsRich(double, boolean)[pri:0, instance:BoyIsRichTest@2471cca7]">boyIsRich</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="9c9176">  <td>17/07/18 23:32:36</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyHasPrettyGirlFriendTest.hasPrettyGirlFriend()[pri:0, instance:BoyHasPrettyGirlFriendTest@6979e8cb]">hasPrettyGirlFriend</td> 
  <td>pool-2-thread-2@607593394</td>   <td></td> </tr>
<tr bgcolor="78ef96">  <td>17/07/18 23:32:36</td>   <td>138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyIsRichTest.boyIsRich(double, boolean)[pri:0, instance:BoyIsRichTest@2471cca7]">boyIsRich</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="78ef96">  <td>17/07/18 23:32:36</td>   <td>139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoyIsRichTest.boyIsRich(double, boolean)[pri:0, instance:BoyIsRichTest@2471cca7]">boyIsRich</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="6d8795">  <td>17/07/18 23:32:36</td>   <td>139</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BoyBeforeTest.setUp()[pri:0, instance:BoySpendsSomeMoneyTest@763d9750]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-2-thread-2@607593394</td>   <td></td> </tr>
<tr bgcolor="ceb1a5">  <td>17/07/18 23:32:36</td>   <td>139</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoySpendsSomeMoneyTest.SpendsSomeMoneyExeptionTest()[pri:1, instance:BoySpendsSomeMoneyTest@763d9750]">SpendsSomeMoneyExeptionTest</td> 
  <td>pool-2-thread-2@607593394</td>   <td></td> </tr>
<tr bgcolor="ceb1a5">  <td>17/07/18 23:32:36</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoySpendsSomeMoneyTest.SpendsSomeMoneyTest(double, double, double)[pri:2, instance:BoySpendsSomeMoneyTest@763d9750]">SpendsSomeMoneyTest</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="ceb1a5">  <td>17/07/18 23:32:36</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoySpendsSomeMoneyTest.SpendsSomeMoneyTest(double, double, double)[pri:2, instance:BoySpendsSomeMoneyTest@763d9750]">SpendsSomeMoneyTest</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="ceb1a5">  <td>17/07/18 23:32:36</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoySpendsSomeMoneyTest.SpendsSomeMoneyTest(double, double, double)[pri:2, instance:BoySpendsSomeMoneyTest@763d9750]">SpendsSomeMoneyTest</td> 
  <td>pool-2-thread-1@1646821152</td>   <td></td> </tr>
<tr bgcolor="6d8795">  <td>17/07/18 23:32:36</td>   <td>156</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BoyBeforeTest.setUp()[pri:0, instance:BoysMoodTest@3ac42916]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-3-thread-1@646750627</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>17/07/18 23:32:36</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoysMoodTest.boyMoodTest(double, boolean, com.epam.gomel.homework.Month, com.epam.gomel.homework.Mood)[pri:0, instance:BoysMoodTest@3ac42916]">boyMoodTest</td> 
  <td>pool-3-thread-1@646750627</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>17/07/18 23:32:36</td>   <td>159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoysMoodTest.boyMoodTest(double, boolean, com.epam.gomel.homework.Month, com.epam.gomel.homework.Mood)[pri:0, instance:BoysMoodTest@3ac42916]">boyMoodTest</td> 
  <td>pool-3-thread-1@646750627</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>17/07/18 23:32:36</td>   <td>160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoysMoodTest.boyMoodTest(double, boolean, com.epam.gomel.homework.Month, com.epam.gomel.homework.Mood)[pri:0, instance:BoysMoodTest@3ac42916]">boyMoodTest</td> 
  <td>pool-3-thread-1@646750627</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>17/07/18 23:32:36</td>   <td>160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoysMoodTest.boyMoodTest(double, boolean, com.epam.gomel.homework.Month, com.epam.gomel.homework.Mood)[pri:0, instance:BoysMoodTest@3ac42916]">boyMoodTest</td> 
  <td>pool-3-thread-1@646750627</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>17/07/18 23:32:36</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoysMoodTest.boyMoodTest(double, boolean, com.epam.gomel.homework.Month, com.epam.gomel.homework.Mood)[pri:0, instance:BoysMoodTest@3ac42916]">boyMoodTest</td> 
  <td>pool-3-thread-1@646750627</td>   <td></td> </tr>
<tr bgcolor="b7dea0">  <td>17/07/18 23:32:36</td>   <td>161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BoysMoodTest.boyMoodTest(double, boolean, com.epam.gomel.homework.Month, com.epam.gomel.homework.Mood)[pri:0, instance:BoysMoodTest@3ac42916]">boyMoodTest</td> 
  <td>pool-3-thread-1@646750627</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>17/07/18 23:32:36</td>   <td>214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithThreeParamrtersTest.test(boolean, boolean, com.epam.gomel.homework.Boy)[pri:0, instance:CreateGirlWithThreeParamrtersTest@71e7a66b]">test</td> 
  <td>pool-4-thread-1@1882313406</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>17/07/18 23:32:36</td>   <td>216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithThreeParamrtersTest.test(boolean, boolean, com.epam.gomel.homework.Boy)[pri:0, instance:CreateGirlWithThreeParamrtersTest@71e7a66b]">test</td> 
  <td>pool-4-thread-1@1882313406</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>17/07/18 23:32:36</td>   <td>223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithThreeParamrtersTest.test(boolean, boolean, com.epam.gomel.homework.Boy)[pri:0, instance:CreateGirlWithThreeParamrtersTest@71e7a66b]">test</td> 
  <td>pool-4-thread-1@1882313406</td>   <td></td> </tr>
<tr bgcolor="c6a36e">  <td>17/07/18 23:32:36</td>   <td>225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithThreeParamrtersTest.test(boolean, boolean, com.epam.gomel.homework.Boy)[pri:0, instance:CreateGirlWithThreeParamrtersTest@71e7a66b]">test</td> 
  <td>pool-4-thread-1@1882313406</td>   <td></td> </tr>
<tr bgcolor="7c709b">  <td>17/07/18 23:32:36</td>   <td>226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithOneParamrterTest.test(boolean)[pri:0, instance:CreateGirlWithOneParamrterTest@5f150435]">test</td> 
  <td>pool-4-thread-1@1882313406</td>   <td></td> </tr>
<tr bgcolor="7c709b">  <td>17/07/18 23:32:36</td>   <td>236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithOneParamrterTest.test(boolean)[pri:0, instance:CreateGirlWithOneParamrterTest@5f150435]">test</td> 
  <td>pool-4-thread-1@1882313406</td>   <td></td> </tr>
<tr bgcolor="aaed64">  <td>17/07/18 23:32:36</td>   <td>239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithoutParamrtersTest.test()[pri:0, instance:CreateGirlWithoutParamrtersTest@1c53fd30]">test</td> 
  <td>pool-4-thread-1@1882313406</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>17/07/18 23:32:36</td>   <td>303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithTwoParamrtersTest.test(boolean, boolean)[pri:0, instance:CreateGirlWithTwoParamrtersTest@2ac1fdc4]">test</td> 
  <td>pool-4-thread-2@257683025</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>17/07/18 23:32:36</td>   <td>306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithTwoParamrtersTest.test(boolean, boolean)[pri:0, instance:CreateGirlWithTwoParamrtersTest@2ac1fdc4]">test</td> 
  <td>pool-4-thread-2@257683025</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>17/07/18 23:32:36</td>   <td>307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithTwoParamrtersTest.test(boolean, boolean)[pri:0, instance:CreateGirlWithTwoParamrtersTest@2ac1fdc4]">test</td> 
  <td>pool-4-thread-2@257683025</td>   <td></td> </tr>
<tr bgcolor="ff8b8f">  <td>17/07/18 23:32:36</td>   <td>322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateGirlWithTwoParamrtersTest.test(boolean, boolean)[pri:0, instance:CreateGirlWithTwoParamrtersTest@2ac1fdc4]">test</td> 
  <td>pool-4-thread-2@257683025</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>17/07/18 23:32:36</td>   <td>342</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GirlBeforeTest.setUp()[pri:0, instance:IsBoyfriendRichTest@71f2a7d5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-5-thread-1@110904691</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>17/07/18 23:32:36</td>   <td>342</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GirlBeforeTest.setUp()[pri:0, instance:IsBoyFriendWillBuyNewShoesTest@2cfb4a64]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-5-thread-2@1747607670</td>   <td></td> </tr>
<tr bgcolor="c6a873">  <td>17/07/18 23:32:36</td>   <td>344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsBoyFriendWillBuyNewShoesTest.boyFriendWillBuyNewShoes()[pri:0, instance:IsBoyFriendWillBuyNewShoesTest@2cfb4a64]">boyFriendWillBuyNewShoes</td> 
  <td>pool-5-thread-2@1747607670</td>   <td></td> </tr>
<tr bgcolor="63be87">  <td>17/07/18 23:32:36</td>   <td>344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsBoyfriendRichTest.isBoyfriendRich()[pri:0, instance:IsBoyfriendRichTest@71f2a7d5]">isBoyfriendRich</td> 
  <td>pool-5-thread-1@110904691</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>17/07/18 23:32:36</td>   <td>347</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GirlBeforeTest.setUp()[pri:0, instance:IsSlimFriendBecameFatTest@5474c6c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-5-thread-2@1747607670</td>   <td></td> </tr>
<tr bgcolor="a069a6">  <td>17/07/18 23:32:36</td>   <td>347</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GirlBeforeTest.setUp()[pri:0, instance:SpendBoyFriendMoneyTest@2fc14f68]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-5-thread-1@110904691</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>17/07/18 23:32:36</td>   <td>348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpendBoyFriendMoneyTest.spendBoyFriendMoney()[pri:0, instance:SpendBoyFriendMoneyTest@2fc14f68]">spendBoyFriendMoney</td> 
  <td>pool-5-thread-1@110904691</td>   <td></td> </tr>
<tr bgcolor="9bf460">  <td>17/07/18 23:32:36</td>   <td>349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpendBoyFriendMoneyTest.spendBoyFriendMoneyException()[pri:1, instance:SpendBoyFriendMoneyTest@2fc14f68]">spendBoyFriendMoneyException</td> 
  <td>pool-5-thread-1@110904691</td>   <td></td> </tr>
<tr bgcolor="cf72fd">  <td>17/07/18 23:32:36</td>   <td>361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsSlimFriendBecameFatTest.slimFriendBecameFat1(boolean, boolean)[pri:0, instance:IsSlimFriendBecameFatTest@5474c6c]">slimFriendBecameFat1</td> 
  <td>pool-5-thread-2@1747607670</td>   <td></td> </tr>
<tr bgcolor="cf72fd">  <td>17/07/18 23:32:36</td>   <td>363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsSlimFriendBecameFatTest.slimFriendBecameFat2(boolean)[pri:1, instance:IsSlimFriendBecameFatTest@5474c6c]">slimFriendBecameFat2</td> 
  <td>pool-5-thread-2@1747607670</td>   <td></td> </tr>
<tr bgcolor="cf72fd">  <td>17/07/18 23:32:36</td>   <td>365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IsSlimFriendBecameFatTest.slimFriendBecameFat3()[pri:2, instance:IsSlimFriendBecameFatTest@5474c6c]">slimFriendBecameFat3</td> 
  <td>pool-5-thread-2@1747607670</td>   <td></td> </tr>
</table>
